<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_02_SQLProvider.Properties.Settings.HumanConnectionString"
            connectionString="Data Source=DESKTOP-3FHCPCD;Initial Catalog=Human;User ID=suho"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>